@font-face {
  font-family: "BebasNeue";
  src: url(../public/fonts/BebasNeue-Regular.otf);
}

@font-face {
  font-family: "Blacksword";
  src: url(../public/fonts/Blacksword.otf);
}

@font-face {
  font-family: "VCR";
  src: url(../public/fonts/VCR_OSD_MONO_1.001.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /*Equivalent to 10px*/
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-family: "BebasNeue", sans-serif;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 1rem;
  position: relative;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  z-index: 100;
}

.header .logo-main {
  width: 15%;
  height: 300%;
  display: none;
  position: absolute;
  top: 150%;
  left: 0;
  filter: drop-shadow(0.1rem 0.1rem 0.4rem #050505a1);
  -webkit-filter: drop-shadow(0.1rem 0.1rem 0.4rem #050505a1);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .header .logo-main {
    display: block;
  }
}

@media only screen and (min-width: 834px) {
  .header .logo-main {
    top: 200%;
  }
}

@media only screen and (min-width: 1224px) {
  .header .logo-main {
    width: 10%;
  }
}

.header .logo-main .logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header .nav-main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -100vw;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

.header .nav-main::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: 0.97;
  z-index: -1;
}

.header .nav-main .nav-ul {
  width: 100%;
  height: 60%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

@media only screen and (min-width: 620px) {
  .header .nav-main .nav-ul {
    height: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .header .nav-main .nav-ul {
    height: 65%;
  }
}

@media only screen and (min-width: 1024px) {
  .header .nav-main .nav-ul {
    height: 75%;
  }
}

@media only screen and (min-width: 834px) {
  .header .nav-main .nav-ul {
    height: 65%;
  }
}

@media only screen and (min-width: 1224px) {
  .header .nav-main .nav-ul {
    height: 70%;
  }
}

.header .nav-main .nav-ul .nav-li {
  list-style-type: none;
  position: relative;
}

.header .nav-main .nav-ul .nav-li::after {
  content: "";
  width: 0;
  height: 0.3rem;
  position: absolute;
  left: 0;
  bottom: -5%;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  background-color: red;
}

.header .nav-main .nav-ul .nav-li:hover::after {
  width: 101%;
}

.header .nav-main .nav-ul .nav-li .nav-links:link,
.header .nav-main .nav-ul .nav-li .nav-links:visited {
  text-decoration: none;
  color: #fff;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  text-shadow: 0.1rem 0.1rem 0.3rem #7c7979;
}

@media only screen and (min-width: 768px) {
  .header .nav-main .nav-ul .nav-li .nav-links:link,
  .header .nav-main .nav-ul .nav-li .nav-links:visited {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 1824px) {
  .header .nav-main .nav-ul .nav-li .nav-links:link,
  .header .nav-main .nav-ul .nav-li .nav-links:visited {
    font-size: 6rem;
  }
}

.logoChange {
  opacity: 0;
}

.showNav {
  transform: translateX(100vw);
  -webkit-transform: translateX(100vw);
  -moz-transform: translateX(100vw);
  -ms-transform: translateX(100vw);
  -o-transform: translateX(100vw);
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero .hero-img-box {
  width: 90%;
  height: auto;
  filter: drop-shadow(0.1rem 0.1rem 0.3rem #050505a1);
  -webkit-filter: drop-shadow(0.1rem 0.1rem 0.3rem #050505a1);
}

@media only screen and (min-width: 620px) {
  .hero .hero-img-box {
    width: 55%;
  }
}

@media only screen and (min-width: 768px) {
  .hero .hero-img-box {
    width: 65%;
    filter: drop-shadow(0.2rem 0.2rem 0.5rem #050505a1);
    -webkit-filter: drop-shadow(0.2rem 0.2rem 0.5rem #050505a1);
  }
}

@media only screen and (min-width: 1824px) {
  .hero .hero-img-box {
    width: 60%;
  }
}

.hero .hero-img-box .hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero .icon-wrapper {
  width: 40%;
  height: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (min-width: 620px) {
  .hero .icon-wrapper {
    width: 20%;
  }
}

@media only screen and (min-width: 768px) {
  .hero .icon-wrapper {
    width: 15%;
  }
}

@media only screen and (min-width: 1224px) {
  .hero .icon-wrapper {
    width: 20%;
  }
}

.hero .icon-wrapper i {
  color: #050505;
  font-size: 2.5rem;
  text-shadow: 0.1rem 0.1rem 0.3rem #7c7979;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

@media only screen and (min-width: 1824px) {
  .hero .icon-wrapper i {
    font-size: 5rem;
  }
}

.hero .icon-wrapper i:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.sections {
  width: 100%;
  overflow-x: hidden;
}

.sections .title {
  width: 90%;
  height: 6rem;
  margin: 2rem auto 0;
  position: relative;
  font-size: 3rem;
  letter-spacing: 0.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (min-width: 3439px) {
  .sections .title {
    width: 70%;
  }
}

.sections .title::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: 5%;
  background-color: #050505;
}

.section-creator {
  height: 70rem;
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .section-creator {
    height: 100rem;
  }
}

@media only screen and (min-width: 1824px) {
  .section-creator {
    height: 110rem;
  }
}

.section-creator .title-creator {
  color: #fff;
  z-index: 3;
}

.section-creator #title-creator::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: 5%;
  background-color: #fff;
}

.section-creator .bg-img-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  position: relative;
}

.section-creator .bg-img-box .bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.section-creator .overlay {
  width: 100%;
  height: 100%;
  background-color: #050505;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.section-lineup {
  height: auto;
  margin: 5rem auto;
}

.section-lineup .shoe-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 1224px) {
  .section-lineup .shoe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 6rem;
  }
}

@media only screen and (min-width: 1824px) {
  .section-lineup .shoe-container {
    max-width: 200rem;
  }
}

.section-lineup .shoe-container .shoes {
  width: 100%;
  height: 28rem;
  margin: 2rem auto 4rem;
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 620px) {
  .section-lineup .shoe-container .shoes {
    height: 30rem;
  }
}

@media only screen and (min-width: 768px) {
  .section-lineup .shoe-container .shoes {
    height: 40rem;
    margin: 4rem auto;
  }
}

@media only screen and (min-width: 1024px) {
  .section-lineup .shoe-container .shoes {
    height: 55rem;
    margin: 4rem auto 6rem;
  }
}

@media only screen and (min-width: 1224px) {
  .section-lineup .shoe-container .shoes {
    height: 25rem;
  }
}

@media only screen and (min-width: 1824px) {
  .section-lineup .shoe-container .shoes {
    height: 40rem;
  }
}

.section-lineup .shoe-container .shoes .shoe-box {
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.section-lineup .shoe-container .shoes .shoe-box::after {
  content: "";
  width: 90%;
  height: 90%;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  z-index: -1;
}

.section-lineup .shoe-container .shoes .shoe-box:hover ~ .shoe-name {
  opacity: 1;
  transform: translateY(35%);
  -webkit-transform: translateY(35%);
  -moz-transform: translateY(35%);
  -ms-transform: translateY(35%);
  -o-transform: translateY(35%);
}

@media only screen and (min-width: 834px) {
  .section-lineup .shoe-container .shoes .shoe-box:hover ~ .shoe-name {
    transform: translateY(65%);
    -webkit-transform: translateY(65%);
    -moz-transform: translateY(65%);
    -ms-transform: translateY(65%);
    -o-transform: translateY(65%);
  }
}

@media only screen and (min-width: 1224px) {
  .section-lineup .shoe-container .shoes .shoe-box:hover ~ .shoe-name {
    transform: translateY(60%);
    -webkit-transform: translateY(60%);
    -moz-transform: translateY(60%);
    -ms-transform: translateY(60%);
    -o-transform: translateY(60%);
  }
}

@media only screen and (min-width: 1824px) {
  .section-lineup .shoe-container .shoes .shoe-box:hover ~ .shoe-name {
    transform: translateY(70%);
    -webkit-transform: translateY(70%);
    -moz-transform: translateY(70%);
    -ms-transform: translateY(70%);
    -o-transform: translateY(70%);
  }
}

.section-lineup .shoe-container .shoes .shoe-box:hover ~ .stripe-logo::after {
  left: 200%;
}

@media only screen and (min-width: 620px) {
  .section-lineup .shoe-container .shoes .shoe-box {
    width: 65%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

@media only screen and (min-width: 1224px) {
  .section-lineup .shoe-container .shoes .shoe-box {
    width: 90%;
  }
}

.section-lineup .shoe-container .shoes .shoe-box .shoe-img {
  width: 80%;
  height: auto;
  object-fit: contain;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@media only screen and (min-width: 620px) {
  .section-lineup .shoe-container .shoes .shoe-box .shoe-img {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .section-lineup .shoe-container .shoes .shoe-box .shoe-img {
    width: 80%;
  }
}

@media only screen and (min-width: 1824px) {
  .section-lineup .shoe-container .shoes .shoe-box .shoe-img {
    width: 85%;
  }
}

.section-lineup .shoe-container .shoes .stripe-logo {
  width: 80%;
  height: 70%;
  position: relative;
  position: absolute;
  top: 13%;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

@media only screen and (min-width: 620px) {
  .section-lineup .shoe-container .shoes .stripe-logo {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) {
  .section-lineup .shoe-container .shoes .stripe-logo {
    width: 52%;
  }
}

@media only screen and (min-width: 1224px) {
  .section-lineup .shoe-container .shoes .stripe-logo {
    width: 72%;
    top: 20%;
  }
}

@media only screen and (min-width: 1824px) {
  .section-lineup .shoe-container .shoes .stripe-logo {
    width: 80%;
    top: 25%;
  }
}

@media only screen and (min-width: 3439px) {
  .section-lineup .shoe-container .shoes .stripe-logo {
    width: 75%;
    top: 17%;
  }
}

@media only screen and (min-width: 1920px) {
  .section-lineup .shoe-container .shoes .stripe-logo {
    top: 17%;
  }
}

.section-lineup .shoe-container .shoes .stripe-logo::after {
  content: "";
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.8s ease;
  -webkit-transition: 0.8s ease;
  -moz-transition: 0.8s ease;
  -ms-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  background-color: #fff;
}

.section-lineup .shoe-container .shoes .stripe-logo .stripe-bg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-lineup .shoe-container .shoes .shoe-name {
  opacity: 0;
  font-family: "Blacksword", sans-serif;
  text-transform: capitalize;
  font-size: 5rem;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  z-index: 5;
  transform: translateY(200%);
  -webkit-transform: translateY(200%);
  -moz-transform: translateY(200%);
  -ms-transform: translateY(200%);
  -o-transform: translateY(200%);
}

@media only screen and (min-width: 768px) {
  .section-lineup .shoe-container .shoes .shoe-name {
    font-size: 7rem;
  }
}

@media only screen and (min-width: 1024px) {
  .section-lineup .shoe-container .shoes .shoe-name {
    font-size: 8rem;
  }
}

@media only screen and (min-width: 1224px) {
  .section-lineup .shoe-container .shoes .shoe-name {
    font-size: 4rem;
    transform: translateY(120%);
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
  }
}

@media only screen and (min-width: 1824px) {
  .section-lineup .shoe-container .shoes .shoe-name {
    font-size: 6rem;
  }
}

.section-gallery {
  height: 150rem;
  margin: 5rem auto;
  overflow: hidden;
}

@media only screen and (min-width: 620px) {
  .section-gallery {
    height: 200rem;
  }
}

@media only screen and (min-width: 768px) {
  .section-gallery {
    height: 250rem;
  }
}

@media only screen and (min-width: 1024px) {
  .section-gallery {
    height: 100rem;
    margin: 5rem auto 0;
  }
}

@media only screen and (min-width: 1224px) {
  .section-gallery {
    height: 100rem;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 1824px) {
  .section-gallery {
    height: 150rem;
  }
}

.section-gallery .gallery-container {
  width: 100%;
  height: 85%;
  margin: 5rem auto 0;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .section-gallery .gallery-container {
    height: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  .section-gallery .gallery-container {
    height: 70%;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;
  }
}

@media only screen and (min-width: 1112px) {
  .section-gallery .gallery-container {
    height: 70%;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
  }
}

@media only screen and (min-width: 1224px) {
  .section-gallery .gallery-container {
    height: 80%;
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 1rem;
  }
}

@media only screen and (min-width: 1824px) {
  .section-gallery .gallery-container {
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  }
}

.section-gallery .gallery-container .gallery-img-box {
  width: 100%;
  height: calc(100% / 8);
  position: relative;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  overflow: hidden;
  opacity: 0;
}

.section-gallery .gallery-container .gallery-img-box .gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  cursor: pointer;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .section-gallery .gallery-container .gallery-img-box {
    padding: 2rem 2rem 0 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .section-gallery .gallery-container .gallery-img-box {
    height: 100%;
    padding: 0;
  }
}

.section-gallery .gallery-container .gallery-img-box:nth-of-type(1) {
  animation-delay: 300ms;
}

.section-gallery .gallery-container .gallery-img-box:nth-of-type(2) {
  animation-delay: 500ms;
}

.section-gallery .gallery-container .gallery-img-box:nth-of-type(3) {
  animation-delay: 700ms;
}

.section-gallery .gallery-container .gallery-img-box:nth-of-type(4) {
  animation-delay: 900ms;
}

.section-gallery .gallery-container .gallery-img-box:nth-of-type(5) {
  animation-delay: 1100ms;
}

.section-gallery .gallery-container .gallery-img-box:nth-of-type(6) {
  animation-delay: 1300ms;
}

.section-gallery .gallery-container .gallery-img-box:nth-of-type(7) {
  animation-delay: 1500ms;
}

.section-gallery .gallery-container .gallery-img-box:nth-of-type(8) {
  animation-delay: 1700ms;
}

.section-gallery .modal-container {
  display: none;
  width: 0;
  height: 0;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.section-gallery .modal-container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: 0.7;
  z-index: -1;
}

.section-gallery .modal-container .far {
  display: none;
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

@media only screen and (min-width: 1112px) {
  .section-gallery .modal-container .far {
    font-size: 5rem;
  }
}

.section-gallery .modal-container .modal-img-box {
  width: 90%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1224px) {
  .section-gallery .modal-container .modal-img-box {
    width: 75%;
    height: 75%;
  }
}

.section-gallery .modal-container .modal-img-box .modal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-gallery .modalOpen {
  display: block;
  width: 100%;
  height: 100%;
}

.galleryAnimateIn {
  animation: galleryAnimation 0.8s linear both;
  -webkit-animation: galleryAnimation 0.8s linear both;
}

.galleryAnimateUp {
  animation: galleryAnimationLandscape 0.8s linear both;
  -webkit-animation: galleryAnimationLandscape 0.8s linear both;
}

@keyframes galleryAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  80% {
    opacity: 1;
    transform: translateX(5%);
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);
    -ms-transform: translateX(5%);
    -o-transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes galleryAnimationLandscape {
  0% {
    opacity: 0;
    transform: translateY(120%);
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
  }
  80% {
    opacity: 1;
    transform: translateY(-5%);
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -o-transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.section-kicks {
  height: auto;
}

@media only screen and (min-width: 1224px) {
  .section-kicks {
    margin-bottom: 5rem;
  }
}

.section-kicks .kicks-container {
  width: 100%;
  height: auto;
  margin-top: 6rem;
}

.section-kicks .kicks-container .kick-box {
  width: 100%;
  max-width: 150rem;
  height: 60rem;
  position: relative;
  overflow: hidden;
}

.section-kicks .kicks-container .kick-box:not(:last-child) {
  margin: 0 auto 10rem;
}

.section-kicks .kicks-container .kick-box:last-child {
  margin: 0 auto 2rem;
}

@media only screen and (min-width: 768px) {
  .section-kicks .kicks-container .kick-box:last-child {
    margin: 0 auto 5rem;
  }
}

@media only screen and (min-width: 834px) {
  .section-kicks .kicks-container .kick-box:last-child {
    margin: 0 auto 10rem;
  }
}

@media only screen and (min-width: 768px) {
  .section-kicks .kicks-container .kick-box {
    height: 75rem;
  }
}

@media only screen and (min-width: 1024px) {
  .section-kicks .kicks-container .kick-box {
    height: 80rem;
  }
}

.section-kicks .kicks-container .kick-box .vid-box {
  width: 150%;
  height: 150%;
  position: relative;
}

.section-kicks .kicks-container .kick-box .vid-box::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: 0.8;
  z-index: -1;
}

.section-kicks .kicks-container .kick-box .vid-box .vid {
  width: 150%;
  height: 150%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media only screen and (min-width: 1224px) {
  .section-kicks .kicks-container .kick-box .vid-box .vid {
    left: -40%;
  }
}

.section-kicks .kicks-container .kick-box .vid-box-opac::after {
  opacity: 0.65;
}

.section-kicks .kicks-container .kick-box .bg-slant {
  width: 200%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  bottom: -40%;
  left: -20%;
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
}

.section-kicks .kicks-container .kick-box .pair-title {
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 5rem;
  font-family: "Blacksword", sans-serif;
  text-transform: capitalize;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@media only screen and (min-width: 768px) {
  .section-kicks .kicks-container .kick-box .pair-title {
    font-size: 7rem;
  }
}

@media only screen and (min-width: 1224px) {
  .section-kicks .kicks-container .kick-box .pair-title {
    font-size: 9rem;
  }
}

.section-kicks .kicks-container .kick-box .pair-title p {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1224px) {
  .section-kicks .kicks-container .kick-box .pair-title p {
    justify-content: flex-end;
    padding-right: 8rem;
  }
}

.section-kicks .kicks-container .kick-box .kicks-content-box {
  width: 90%;
  height: 100%;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1224px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box {
    width: 100%;
  }
}

.section-kicks .kicks-container .kick-box .kicks-content-box .pair-png-box {
  width: 110%;
  height: auto;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@media only screen and (min-width: 620px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box .pair-png-box {
    width: 90%;
    top: 20%;
  }
}

@media only screen and (min-width: 768px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box .pair-png-box {
    width: 95%;
    top: 17%;
  }
}

@media only screen and (min-width: 1024px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box .pair-png-box {
    width: 75%;
    top: 20%;
  }
}

@media only screen and (min-width: 1224px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box .pair-png-box {
    width: 60%;
    left: 30%;
    top: 28%;
  }
}

.section-kicks .kicks-container .kick-box .kicks-content-box .pair-png-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@media only screen and (min-width: 620px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box {
    bottom: 2%;
  }
}

@media only screen and (min-width: 1024px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box {
    bottom: 0;
  }
}

@media only screen and (min-width: 1112px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box {
    padding-top: 2rem;
  }
}

@media only screen and (min-width: 1224px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box {
    width: 40%;
    height: 42%;
    left: 78%;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-main {
  width: 100%;
  color: red;
  font-family: "VCR", sans-serif;
  font-size: 3rem;
}

@media only screen and (min-width: 1224px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-main {
    width: 80%;
    text-align: start;
    font-size: 4.5rem;
  }
}

.section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-info {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 620px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-info ul {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media only screen and (min-width: 620px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-info ul {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-info ul {
    padding-left: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-info ul {
    padding-left: 8rem;
  }
}

@media only screen and (min-width: 1224px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-info ul {
    width: 80%;
    padding-left: 0;
  }
}

.section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-info ul li {
  margin-left: 1.5rem;
  font-size: 1.65rem;
  text-align: start;
}

@media only screen and (min-width: 768px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-info ul li {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1224px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-info ul li {
    font-size: 2.5rem;
  }
}

.section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-size {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1224px) {
  .section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-size {
    width: 80%;
    justify-content: flex-end;
  }
}

.section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-size .size {
  margin-right: 0.5rem;
  font-size: 2.5rem;
}

.section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-size .shoe-sizes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-size .shoe-sizes .size-li {
  width: 3rem;
  height: 3rem;
  position: relative;
  list-style-type: none;
  font-size: 2rem;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  cursor: pointer;
  border: 0.1rem solid #050505;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-size .shoe-sizes .size-li::after {
  content: "out of stock";
  width: 400%;
  height: auto;
  display: none;
  font-family: "VCR", sans-serif;
  font-size: 1.4rem;
  color: red;
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-size .shoe-sizes .size-li:hover::after {
  display: block;
}

.section-kicks .kicks-container .kick-box .kicks-content-box .inner-content-box .content-size .shoe-sizes .size-li:hover {
  background-color: #050505;
  color: #fff;
}

.section-contact {
  height: 70rem;
  padding-top: 10rem;
}

.section-contact .form-wrapper {
  width: 100%;
  height: auto;
  margin: 5rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .section-contact .form-wrapper {
    width: 70rem;
  }
}

.section-contact .form-wrapper .form-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-contact .form-wrapper .form-box .input-box {
  width: 70%;
  height: 3rem;
  position: relative;
  border: 0.1rem solid #050505;
}

.section-contact .form-wrapper .form-box .input-box:nth-of-type(1)::after {
  content: "First Name";
  height: 100%;
  margin-left: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  color: gray;
  z-index: -1;
}

.section-contact .form-wrapper .form-box .input-box:nth-of-type(2)::after {
  content: "Last Name";
  height: 100%;
  margin-left: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  color: gray;
  z-index: -1;
}

.section-contact .form-wrapper .form-box .input-box:nth-of-type(3)::after {
  content: "Email";
  height: 100%;
  margin-left: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  color: gray;
  z-index: -1;
}

.section-contact .form-wrapper .form-box .input-box:not(:last-child) {
  margin-bottom: 3rem;
}

.section-contact .form-wrapper .form-box .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
}

.section-contact .form-wrapper .btn-box {
  width: 70%;
  margin-top: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.section-contact .form-wrapper .btn-box .submit {
  padding: 0.75rem 2rem;
  text-decoration: none;
  color: #050505;
  font-size: 2rem;
  border: 0.1rem solid #050505;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.section-contact .form-wrapper .btn-box .submit:hover {
  color: #fff;
  background-color: #050505;
}

.section-upcoming {
  height: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .section-upcoming {
    height: 170rem;
  }
}

@media only screen and (min-width: 1224px) {
  .section-upcoming {
    height: 60rem;
  }
}

.section-upcoming .new-shoes-container {
  width: 100%;
  height: calc(90% - 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

@media only screen and (min-width: 1224px) {
  .section-upcoming .new-shoes-container {
    flex-direction: row;
    max-width: 200rem;
  }
}

.section-upcoming .new-shoes-container .new-shoes {
  width: 90%;
}

@media only screen and (min-width: 768px) {
  .section-upcoming .new-shoes-container .new-shoes {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .section-upcoming .new-shoes-container .new-shoes {
    width: 60%;
  }
}

.section-upcoming .new-shoes-container .new-shoes .new-shoes-img {
  width: 80%;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 50rem;
  background-color: #050505;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger {
  width: 5rem;
  height: 5rem;
  position: fixed;
  top: 1%;
  right: 5%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .burger {
    right: 3%;
  }
}

.burger .cheese {
  width: 80%;
  height: 70%;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem #050505a1);
  -webkit-filter: drop-shadow(0.1rem 0.1rem 0.1rem #050505a1);
}

.burger .cheese .top {
  width: 100%;
  height: 0.3rem;
  margin-bottom: 0.6rem;
  background-color: red;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.burger .cheese .meat {
  width: 75%;
  height: 0.3rem;
  margin-bottom: 0.6rem;
  background-color: red;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.burger .cheese .bottom {
  width: 100%;
  height: 0.3rem;
  background-color: red;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.topChange {
  position: absolute;
  left: 0;
  top: 50%;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}

.meatGone {
  display: none;
}

.bottomChange {
  position: absolute;
  left: 0;
  top: 50%;
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
}
/*# sourceMappingURL=styles - Copy.css.map */