*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*Equivalent to 10px*/
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-family: $primary-font;
  overflow-x: hidden;
  // color: $primary-color;
}
