.header {
  width: 100%;
  height: 10rem;
  // position: relative;
  position: fixed;
  top: 0;
  background: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include transit3;
  z-index: 100;

  // Logo //

  .logo-main {
    width: 25%;
    height: 100%;
    margin-left: 1rem;
    padding: 1rem;
    filter: drop-shadow(0.1rem 0.1rem 0.3rem #050505a1);
    -webkit-filter: drop-shadow(0.1rem 0.1rem 0.3rem #050505);

    @include phoneLandscape {
      & {
        width: 15%;
        margin-left: 2rem;
        padding: 2rem;
      }
    }

    @include tabletPortrait {
      & {
        width: 20%;
        padding: 2.5rem;
      }
    }

    @include tabletLandscapeXL {
      & {
        margin-left: 0;
      }
    }

    @include largeDesktop {
      & {
        width: 18%;
      }
    }

    .logo-img {
      @include keep-it-hundo;
      object-fit: contain;
    }
  }

  // Nav //

  .nav-main {
    width: 65%;
    height: 100%;

    @include phoneLandscape {
      & {
        width: 50%;
      }
    }

    @include tabletPortrait {
      & {
        width: 60%;
      }
    }

    @include tabletLandscape {
      & {
        width: 55%;
      }
    }

    @include tabletLandscapeXL {
      & {
        width: 50%;
      }
    }

    @include desktop {
      & {
        width: 45%;
      }
    }

    @include largeDesktop {
      & {
        width: 38%;
      }
    }

    .nav-ul {
      @include keep-it-hundo;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .nav-li {
        list-style-type: none;
        position: relative;

        &::after {
          content: "";
          width: 0;
          height: 0.3rem;
          position: absolute;
          left: 0;
          bottom: -5%;
          @include transit3;
          background-color: red;
        }

        &:hover::after {
          width: 101%;
        }

        .nav-links:link,
        .nav-links:visited {
          text-decoration: none;
          color: $color-dark;
          font-size: 2.5rem;
          @include text-shadowgray-lite;

          @include tabletPortrait {
            & {
              font-size: 3.5rem;
            }
          }

          @include largeDesktop {
            & {
              font-size: 4rem;
            }
          }
        }
      }
    }
  }
}
