.hero {
  width: 100%;
  height: 100vh;
  @include flex-center-col;
  position: relative;

  // Hero BG Auto Slider //

  .hero-slider-container {
    width: 100%;
    height: 100%;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    .slider {
      @include keep-it-hundo;
      background-color: $color-dark;

      .slides {
        @include keep-it-hundo;
        position: absolute;
        top: 0;
        animation: autoSlider 8s linear 0.2s infinite;
        -webkit-animation: autoSlider 8s linear 0.2s infinite;

        &:nth-of-type(1) {
          left: 0;
        }

        &:nth-of-type(2) {
          left: 100%;
        }

        &:nth-of-type(3) {
          left: 200%;
        }

        &:nth-of-type(4) {
          left: 300%;
        }

        .hero-slide-imgs {
          @include keep-it-hundo;
          object-fit: cover;
        }

        // .vid {
        //   @include keep-it-hundo;
        //   object-fit: cover;

        //   &:nth-of-type(1) {
        //     opacity: 0.8;
        //   }
        // }
      }
    }
  }

  // Hero Img //

  .hero-img-container {
    @include keep-it-hundo;
    position: absolute;
    top: 0;
    left: 0;
    @include flex-center-col;

    .hero-img-box {
      width: 90%;
      height: auto;
      filter: drop-shadow(0.1rem 0.1rem 0.3rem #050505a1);
      -webkit-filter: drop-shadow(0.1rem 0.1rem 0.3rem #050505a1);

      @include phoneLandscape {
        & {
          width: 55%;
        }
      }

      @include tabletPortrait {
        & {
          width: 65%;
          filter: drop-shadow(0.2rem 0.2rem 0.5rem #050505a1);
          -webkit-filter: drop-shadow(0.2rem 0.2rem 0.5rem #050505a1);
        }
      }

      @include largeDesktop {
        & {
          width: 60%;
        }
      }

      .hero-img {
        @include keep-it-hundo;
        object-fit: contain;
      }
    }

    // Social Media Icons //

    .icon-wrapper {
      width: 40%;
      height: auto;
      margin-top: 2rem;
      @include flex-center;
      justify-content: space-evenly;

      @include phoneLandscape {
        & {
          width: 20%;
        }
      }

      @include desktop {
        & {
          width: 20%;
        }
      }

      i {
        color: $color-lite;
        font-size: 2.5rem;
        @include text-shadowdeep;
        @include transit3;

        @include largeDesktop {
          & {
            font-size: 5rem;
          }
        }

        &:hover {
          transform: scale(1.2);
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
        }
      }
    }
  }
}

@keyframes autoSlider {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  20% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  23% {
    transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    -o-transform: translateX(-20%);
  }

  26% {
    transform: translateX(-5%);
    -webkit-transform: translateX(-5%);
    -moz-transform: translateX(-5%);
    -ms-transform: translateX(-5%);
    -o-transform: translateX(-5%);
  }

  28% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }

  47% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }

  50% {
    transform: translateX(-120%);
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    -o-transform: translateX(-120%);
  }

  53% {
    transform: translateX(-105%);
    -webkit-transform: translateX(-105%);
    -moz-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    -o-transform: translateX(-105%);
  }

  55% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
  }

  74% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
  }

  77% {
    transform: translateX(-220%);
    -webkit-transform: translateX(-220%);
    -moz-transform: translateX(-220%);
    -ms-transform: translateX(-220%);
    -o-transform: translateX(-220%);
  }

  80% {
    transform: translateX(-205%);
    -webkit-transform: translateX(-205%);
    -moz-transform: translateX(-205%);
    -ms-transform: translateX(-205%);
    -o-transform: translateX(-205%);
  }

  82% {
    transform: translateX(-300%);
    -webkit-transform: translateX(-300%);
    -moz-transform: translateX(-300%);
    -ms-transform: translateX(-300%);
    -o-transform: translateX(-300%);
  }

  96% {
    transform: translateX(-300%);
    -webkit-transform: translateX(-300%);
    -moz-transform: translateX(-300%);
    -ms-transform: translateX(-300%);
    -o-transform: translateX(-300%);
  }
}
