.hero {
  width: 100%;
  height: 100vh;
  @include flex-center-col;

  // Hero Img //

  .hero-img-box {
    width: 90%;
    height: auto;
    filter: drop-shadow(0.1rem 0.1rem 0.3rem #050505a1);
    -webkit-filter: drop-shadow(0.1rem 0.1rem 0.3rem #050505a1);

    @include phoneLandscape {
      & {
        width: 55%;
      }
    }

    @include tabletPortrait {
      & {
        width: 65%;
        filter: drop-shadow(0.2rem 0.2rem 0.5rem #050505a1);
        -webkit-filter: drop-shadow(0.2rem 0.2rem 0.5rem #050505a1);
      }
    }

    @include largeDesktop {
      & {
        width: 60%;
      }
    }

    .hero-img {
      @include keep-it-hundo;
      object-fit: contain;
    }
  }

  // Social Media Icons //

  .icon-wrapper {
    width: 40%;
    height: auto;
    margin-top: 2rem;
    @include flex-center;
    justify-content: space-evenly;

    @include phoneLandscape {
      & {
        width: 20%;
      }
    }

    @include tabletPortrait {
      & {
        width: 15%;
      }
    }

    @include desktop {
      & {
        width: 20%;
      }
    }

    i {
      color: $color-dark;
      font-size: 2.5rem;
      @include text-shadowgray-lite;
      @include transit3;

      @include largeDesktop {
        & {
          font-size: 5rem;
        }
      }

      &:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
      }
    }
  }
}
