.hero {
  width: 100%;
  height: 100vh;
  @include flex-center-col;
  position: relative;

  // Hero BG Auto Slider //

  .hero-slider-container {
    width: 100%;
    height: 100%;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    .slider {
      @include keep-it-hundo;
      background-color: $color-lite;

      .slides {
        @include keep-it-hundo;
        position: absolute;
        top: 0;
        @include transit3;
        animation: autoSlider 8s linear 0.2s infinite;
        -webkit-animation: autoSlider 8s linear 0.2s infinite;

        &:nth-of-type(1) {
          left: 0;
        }

        &:nth-of-type(2) {
          left: 100%;
        }

        &:nth-of-type(3) {
          left: 200%;
        }

        .hero-slide-imgs {
          @include keep-it-hundo;
          object-fit: cover;

          @include largeDesktop {
            & {
              object-position: top;
            }
          }
        }
      }
    }
  }

  // Hero Img //

  .hero-img-container {
    @include keep-it-hundo;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;

    .hero-img-box {
      width: 100%;
      height: auto;
      position: absolute;
      top: 42%;
      filter: drop-shadow(0.2rem 0.2rem 0.3rem #050505ce);
      -webkit-filter: drop-shadow(0.2rem 0.2rem 0.3rem #050505ce);
      animation: autoSliderLogo 8s linear 0.2s infinite;
      -webkit-animation: autoSliderLogo 8s linear 0.2s infinite;

      &:nth-of-type(1) {
        left: 0;
      }

      &:nth-of-type(2) {
        left: 100%;
      }

      &:nth-of-type(3) {
        left: 200%;
      }

      @include tabletLandscape {
        & {
          top: 40%;
        }
      }

      @include desktop {
        & {
          top: 35%;
        }
      }

      .hero-img {
        width: 80%;
        height: auto;
        object-fit: contain;

        @include tabletLandscape {
          & {
            width: 60%;
          }
        }

        @include largeDesktop {
          & {
            width: 40%;
          }
        }
      }
    }
  }
}

// Keyframe for Auto Image Slider Animation

@keyframes autoSlider {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  25% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  28% {
    transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    -o-transform: translateX(-20%);
  }

  33% {
    transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    -o-transform: translateX(-20%);
  }

  35% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }

  67% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }

  70% {
    transform: translateX(-120%);
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    -o-transform: translateX(-120%);
  }

  75% {
    transform: translateX(-120%);
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    -o-transform: translateX(-120%);
  }

  77% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
  }

  97% {
    opacity: 1;
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
  }

  100% {
    opacity: 0;
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
  }
}

// Keyframe for Logo Animation

@keyframes autoSliderLogo {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  37% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  39% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }

  80% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }

  82% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
  }

  97% {
    opacity: 1;
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
  }

  100% {
    opacity: 0;
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
  }
}
