.section-creator {
  height: 80rem;
  position: relative;
  overflow: hidden;
  // background-image: url(../public/images/KanyeAdidasAd.png);
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-attachment: fixed;

  @include tabletPortrait {
    & {
      height: 100rem;
    }
  }

  @include largeDesktop {
    & {
      height: 110rem;
    }
  }

  .title-creator {
    color: $color-lite;
    z-index: 3;
  }

  #title-creator::after {
    content: "";
    width: 100%;
    height: 0.2rem;
    position: absolute;
    left: 0;
    bottom: 5%;
    background-color: $color-lite;
  }

  .bg-img-box {
    // @include keep-it-hundo;
    width: auto;
    height: 150%;
    @include absol-topLeftZero;
    position: relative;

    .bg-img {
      @include keep-it-hundo;
      // width: auto;
      // height: 140%;
      object-fit: cover;
      object-position: bottom;
    }
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: $color-dark;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
  }

  .creator-img-container {
    width: 90%;
    height: 90%;
    position: relative;
    @include absol-center;
    // border: 1px solid red;

    .creator-img-one,
    .creator-img-two,
    .creator-img-three,
    .creator-img-four {
      width: 20rem;
      height: 20rem;
      position: absolute;
      bottom: -25%;
      @include deep-shadow;

      img {
        @include keep-it-hundo;
        object-fit: cover;
      }

      @include tabletPortrait {
        & {
          width: 40rem;
          height: 40rem;
        }
      }
    }

    .creator-img-one {
      left: 0;
    }

    .creator-img-two {
      bottom: -40%;
      left: 15%;

      @include tabletPortrait {
        & {
          left: 10%;
        }
      }
    }

    .creator-img-three {
      left: 30%;

      @include tabletPortrait {
        & {
          left: 35%;
        }
      }
    }

    .creator-img-four {
      left: 45%;

      @include tabletPortrait {
        & {
          left: 43%;
        }
      }
    }

    .creator-text-one,
    .creator-text-two,
    .creator-text-three,
    .creator-text-four {
      // width: 25rem;
      // height: auto;
      position: absolute;
      color: $color-lite;
      letter-spacing: 0.5rem;
    }

    .creator-text-two,
    .creator-text-four {
      -webkit-text-stroke: 0.15rem $color-lite;
      -webkit-text-fill-color: transparent;
    }

    .creator-text-one {
      font-size: 6rem;
      top: 13%;
      left: -50%;

      @include tabletPortrait {
        & {
          font-size: 8rem;
          left: -25%;
        }
      }
    }

    .creator-text-two {
      font-size: 8rem;
      top: 30%;
      right: -50%;

      @include tabletPortrait {
        & {
          font-size: 10rem;
          right: -25%;
        }
      }
    }

    .creator-text-three {
      font-size: 14rem;
      top: 55%;
      left: -120%;
      @include text-shadowgray;

      @include tabletPortrait {
        & {
          font-size: 16rem;
          left: -60%;
        }
      }
    }

    .creator-text-four {
      font-size: 10rem;
      bottom: 0;
      right: -250%;

      @include tabletPortrait {
        & {
          font-size: 12rem;
          right: -150%;
        }
      }
    }
  }
}
