.section-gallery {
  height: 150rem;
  overflow: hidden;

  @include phoneLandscape {
    & {
      height: 200rem;
    }
  }

  @include tabletPortrait {
    & {
      height: 270rem;
    }
  }

  @include tabletLandscape {
    & {
      height: 300rem;
    }
  }

  @include desktop {
    & {
      height: 100rem;
    }
  }

  @include largeDesktop {
    & {
      height: 150rem;
    }
  }

  .gallery-container {
    width: 100%;
    // max-width: 120rem;
    height: 85%;
    margin: 5rem auto 0;

    @include tabletPortrait {
      & {
        height: 90%;
      }
    }

    @include desktop {
      & {
        height: 80%;
        padding: 2rem 4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-gap: 1rem;
      }
    }

    @include largeDesktop {
      & {
        grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
      }
    }

    .gallery-img-box {
      width: 100%;
      height: calc(100% / 8);
      @include transit3;
      padding: 0.5rem 0.5rem 0rem 0.5rem;
      overflow: hidden;
      opacity: 0;

      @include tabletPortrait {
        & {
          padding: 2rem 2rem 0 2rem;
        }
      }

      @include desktop {
        & {
          height: 100%;
          padding: 0;
        }
      }

      &:nth-of-type(1) {
        animation-delay: 500ms;
      }

      &:nth-of-type(2) {
        animation-delay: 800ms;
      }

      &:nth-of-type(3) {
        animation-delay: 1100ms;
      }

      &:nth-of-type(4) {
        animation-delay: 1400ms;
      }

      &:nth-of-type(5) {
        animation-delay: 1700ms;
      }

      &:nth-of-type(6) {
        animation-delay: 2000ms;
      }

      &:nth-of-type(7) {
        animation-delay: 2300ms;
      }

      &:nth-of-type(8) {
        animation-delay: 2600ms;
      }

      .gallery-img {
        @include keep-it-hundo;
        object-fit: cover;
        @include transit3;
      }
    }
  }
}

.zoomIn {
  animation: effectOne 0.5s ease-in-out 0.5s forwards;
  -webkit-animation: effectOne 0.5s ease-in-out 0.5s forwards;
}

@keyframes effectOne {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
