.section-gallery {
  height: 150rem;
  overflow: hidden;

  @include phoneLandscape {
    & {
      height: 200rem;
    }
  }

  @include tabletPortrait {
    & {
      height: 270rem;
    }
  }

  @include tabletLandscape {
    & {
      height: 100rem;
    }
  }

  @include desktop {
    & {
      height: 100rem;
    }
  }

  @include largeDesktop {
    & {
      height: 150rem;
    }
  }

  .gallery-container {
    width: 100%;
    // max-width: 120rem;
    height: 85%;
    margin: 5rem auto 0;
    position: relative;

    @include tabletPortrait {
      & {
        height: 90%;
      }
    }

    @include tabletLandscape {
      & {
        height: 70%;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 1rem;
      }
    }

    @include tabletLandscapeLarge {
      & {
        height: 70%;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 1rem;
      }
    }

    @include desktop {
      & {
        height: 80%;
        padding: 2rem 4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-gap: 1rem;
      }
    }

    @include largeDesktop {
      & {
        grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
      }
    }

    .gallery-img-box {
      width: 100%;
      height: calc(100% / 8);
      position: relative;
      @include transit3;
      padding: 0.5rem 0.5rem 0rem 0.5rem;
      overflow: hidden;
      opacity: 0;

      .gallery-img {
        @include keep-it-hundo;
        object-fit: cover;
        @include transit3;
        cursor: pointer;
        outline: none;
      }

      @include tabletPortrait {
        & {
          padding: 2rem 2rem 0 2rem;
        }
      }

      @include tabletLandscape {
        & {
          height: 100%;
          padding: 0;
        }
      }

      &:nth-of-type(1) {
        animation-delay: 300ms;
      }

      &:nth-of-type(2) {
        animation-delay: 500ms;
      }

      &:nth-of-type(3) {
        animation-delay: 700ms;
      }

      &:nth-of-type(4) {
        animation-delay: 900ms;
      }

      &:nth-of-type(5) {
        animation-delay: 1100ms;
      }

      &:nth-of-type(6) {
        animation-delay: 1300ms;
      }

      &:nth-of-type(7) {
        animation-delay: 1500ms;
      }

      &:nth-of-type(8) {
        animation-delay: 1700ms;
      }
    }
  }

  .modal-container {
    display: none;
    width: 0;
    height: 0;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    // @include transit3;

    &::after {
      content: "";
      @include keep-it-hundo;
      @include absol-topLeftZero;
      background-color: $color-dark;
      opacity: 0.7;
      z-index: -1;
    }

    .far {
      display: none;
      position: absolute;
      top: 2%;
      right: 5%;
      font-size: 3rem;
      color: $color-lite;
      cursor: pointer;
      @include transit3;

      @include tabletLandscapeLarge {
        & {
          font-size: 5rem;
        }
      }
    }

    .modal-img-box {
      width: 90%;
      height: 80%;
      @include absol-center;

      @include desktop {
        & {
          width: 75%;
          height: 75%;
        }
      }

      .modal-img {
        @include keep-it-hundo;
        object-fit: cover;
      }
    }
  }

  .modalOpen {
    display: block;
    width: 100%;
    height: 100%;
  }
}

// Animate Direction in Mobile/Portrait Versions

.galleryAnimateIn {
  animation: galleryAnimation 0.8s linear both;
  -webkit-animation: galleryAnimation 0.8s linear both;
}

// Animate Direction in Desktop/Landscape Versions

.galleryAnimateUp {
  animation: galleryAnimationLandscape 0.8s linear both;
  -webkit-animation: galleryAnimationLandscape 0.8s linear both;
}

// Keyframes for Animations

@keyframes galleryAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }

  80% {
    opacity: 1;
    transform: translateX(5%);
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);
    -ms-transform: translateX(5%);
    -o-transform: translateX(5%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

// **** //

@keyframes galleryAnimationLandscape {
  0% {
    opacity: 0;
    transform: translateY(120%);
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
  }

  80% {
    opacity: 1;
    transform: translateY(-5%);
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -o-transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
