.section-kicks {
  height: auto;

  .kicks-container {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    background-color: bisque;

    @include tabletPortrait {
      & {
        margin-top: 4rem;
      }
    }

    .kick-box {
      width: 100%;
      height: 70rem;
      position: relative;
      overflow: hidden;

      @include phoneLandscape {
        & {
          height: 60rem;
        }
      }

      @include tabletPortrait {
        & {
          height: 80rem;
        }
      }

      .pair-title {
        width: 100%;
        height: auto;
        color: $color-lite;
        font-size: 6rem;
        font-family: $secondary-font;
        text-transform: capitalize;
        position: absolute;
        top: 5%;
        left: 0;
        @include flex-center;
        z-index: 20;

        p {
          @include flex-center;
        }

        @include tabletPortrait {
          & {
            top: 2%;
            font-size: 8rem;
          }
        }
      }

      .vid {
        width: 150%;
        height: 150%;
        object-fit: cover;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .overlay {
        width: 150%;
        height: 150%;
        @include absol-topLeftZero;
        background-color: $color-dark;
        opacity: 0.85;
      }

      .bg-slant {
        width: 200%;
        height: 100%;
        background-color: $color-lite;
        position: absolute;
        bottom: -45%;
        left: -20%;
        transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);

        @include tabletPortrait {
          & {
            bottom: -40%;
          }
        }
      }

      .pair-png {
        width: 110%;
        height: auto;
        position: absolute;
        bottom: 36%;
        left: 50%;
        @include transformX;

        img {
          @include keep-it-hundo;
          object-fit: contain;
        }

        @include phoneLandscape {
          & {
            bottom: 24%;
            width: 75%;
          }
        }

        @include tabletPortrait {
          & {
            bottom: 28%;
            width: 85%;
          }
        }
      }

      .content-box {
        width: 100%;
        height: auto;
        margin-bottom: 4rem;
        position: absolute;
        bottom: 0;
        left: 0;

        @include phoneLandscape {
          & {
            margin-bottom: 1rem;
          }
        }

        @include tabletPortrait {
          & {
            margin-bottom: 2rem;
          }
        }

        .content-main {
          width: 100%;
          color: red;
          font-family: $tertiary-font;
          font-size: 3rem;

          @include phoneLandscape {
            & {
              font-size: 2.5rem;
            }
          }

          @include tabletPortrait {
            & {
              font-size: 3rem;
            }
          }
        }

        .content-info {
          width: 100%;
          height: 10rem;
          margin: 0 auto;
          padding: 0 1rem;
          @include flex-center;

          @include phoneLandscape {
            & {
              width: 65%;
            }
          }

          @include tabletPortrait {
            & {
              width: 68%;
              margin: 1rem auto;
            }
          }

          ul {
            width: 80%;
            display: flex;
            padding-left: 1rem;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            li {
              font-size: 1.75rem;
              text-align: start;

              @include tabletPortrait {
                & {
                  font-size: 2.25rem;
                }
              }
            }
          }
        }

        .content-size {
          width: 100%;
          height: 5rem;
          margin-top: 1rem;
          @include flex-center;

          @include phoneLandscape {
            & {
              margin-top: 0;
            }
          }

          @include tabletPortrait {
            & {
              margin-top: 2rem;
            }
          }

          .size {
            margin-right: 0.5rem;
            font-size: 2.5rem;
          }

          .shoe-sizes {
            @include flex-center;

            .size-li {
              width: 3rem;
              height: 3rem;
              position: relative;
              list-style-type: none;
              font-size: 2rem;
              margin-left: 0.5rem;
              @include flex-center;
              @include transit3;
              cursor: pointer;
              border: 0.1rem solid $color-dark;
              border-radius: 0.25rem;
              -webkit-border-radius: 0.25rem;
              -moz-border-radius: 0.25rem;
              -ms-border-radius: 0.25rem;
              -o-border-radius: 0.25rem;

              &::after {
                content: "out of stock";
                width: 400%;
                height: auto;
                display: none;
                font-family: $tertiary-font;
                font-size: 1.5rem;
                color: red;
                position: absolute;
                top: -80%;
                left: 50%;
                @include transformX;
              }

              &:hover::after {
                display: block;
              }

              &:hover {
                background-color: $color-dark;
                color: $color-lite;
              }
            }
          }
        }
      }
    }
  }
}
