.section-lineup {
  height: auto;
  margin-top: 5rem;

  .shoe-container {
    @include keep-it-hundo;
    // max-width: 120rem;
    margin: 0 auto;

    @include desktop {
      & {
        @include flex-center;
        width: 120rem;
        margin: 0 auto 6rem;
      }
    }

    @include largeDesktop {
      & {
        width: 200rem;
      }
    }

    .shoes {
      width: 100%;
      height: 28rem;
      margin: 2rem auto 4rem;
      position: relative;
      overflow: hidden;

      @include phoneLandscape {
        & {
          height: 30rem;
        }
      }

      @include tabletPortrait {
        & {
          height: 40rem;
          margin: 4rem auto;
        }
      }

      @include tabletLandscape {
        & {
          height: 55rem;
          margin: 4rem auto 6rem;
        }
      }

      @include desktop {
        & {
          height: 25rem;
        }
      }

      @include largeDesktop {
        & {
          height: 40rem;
        }
      }

      .shoe-box {
        width: 100%;
        height: 70%;
        position: absolute;
        bottom: 0;
        z-index: 10;
        // filter: drop-shadow(0.1rem 0.1rem 0.5rem #050505a1);
        // -webkit-filter: drop-shadow(0.1rem 0.1rem 0.5rem #050505a1);

        &::after {
          content: "";
          width: 90%;
          height: 90%;
          position: absolute;
          top: -20%;
          left: 50%;
          @include transformX;
          @include transit3;
          z-index: -1;
        }

        &:hover ~ .shoe-name {
          opacity: 1;
          transform: translateY(35%);
          -webkit-transform: translateY(35%);
          -moz-transform: translateY(35%);
          -ms-transform: translateY(35%);
          -o-transform: translateY(35%);
        }

        &:hover ~ .stripe-logo::after {
          left: 200%;
        }

        @include phoneLandscape {
          & {
            width: 65%;
            left: 50%;
            @include transformX;
          }
        }

        @include desktop {
          & {
            width: 90%;
          }
        }

        .shoe-img {
          width: 80%;
          height: auto;
          object-fit: contain;
          @include transit3;
          position: absolute;
          bottom: 10%;
          left: 50%;
          @include transformX;

          @include phoneLandscape {
            & {
              width: 60%;
            }
          }
        }
      }

      // Stripe Logo //

      .stripe-logo {
        width: 80%;
        height: 70%;
        position: relative;
        position: absolute;
        top: 15%;
        left: 50%;
        overflow: hidden;
        @include transformX;
        @include transit3;

        @include phoneLandscape {
          & {
            width: 40%;
          }
        }

        &::after {
          content: "";
          width: 300%;
          height: 100%;
          position: absolute;
          top: 0;
          left: -100%;
          @include transitDelay;
          background-color: $color-lite;
          // background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
        }

        .stripe-bg {
          @include keep-it-hundo;
          object-fit: contain;
        }
      }

      // Shoe Name //

      .shoe-name {
        opacity: 0;
        font-family: $secondary-font;
        text-transform: capitalize;
        font-size: 5rem;
        @include transit3;
        z-index: 5;
        transform: translateY(200%);
        -webkit-transform: translateY(200%);
        -moz-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);

        @include tabletPortrait {
          & {
            font-size: 7rem;
          }
        }

        @include tabletLandscape {
          & {
            font-size: 8rem;
          }
        }

        @include desktop {
          & {
            z-index: 7;
            font-size: 4rem;
            transform: translateY(50%);
            -webkit-transform: translateY(50%);
            -moz-transform: translateY(50%);
            -ms-transform: translateY(50%);
            -o-transform: translateY(50%);
          }
        }

        @include largeDesktop {
          & {
            font-size: 6rem;
          }
        }
      }
    }
  }
}
