.section-upcoming {
  height: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @include tabletPortrait {
    & {
      height: 170rem;
    }
  }

  @include desktop {
    & {
      height: 60rem;
    }
  }

  .new-shoes-container {
    width: 100%;
    height: calc(90% - 10rem);
    @include flex-center-col;
    justify-content: space-evenly;

    @include desktop {
      & {
        flex-direction: row;
        max-width: 200rem;
      }
    }

    .new-shoes {
      width: 90%;
      position: relative;
      overflow: hidden;

      &::after {
        content: "COMING SOON";
        opacity: 0;
        @include keep-it-hundo;
        @include transit3;
        font-size: 3rem;
        font-family: $tertiary-font;
        @include text-shadowgray-lite;
        color: red;
        position: absolute;
        left: 50%;
        top: 70%;
        @include transformX;
        z-index: -1;

        @include tabletPortrait {
          & {
            font-size: 6rem;
          }
        }

        @include desktop {
          & {
            font-size: 3rem;
          }
        }
      }

      &:hover::after {
        opacity: 1;
        transform: translate(-50%, -70%);
        -webkit-transform: translate(-50%, -70%);
        -moz-transform: translate(-50%, -70%);
        -ms-transform: translate(-50%, -70%);
        -o-transform: translate(-50%, -70%);
      }

      &:hover > .new-shoes-img {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
      }

      @include tabletPortrait {
        & {
          width: 70%;
        }
      }

      @include tabletLandscape {
        & {
          width: 60%;
        }
      }

      .new-shoes-img {
        width: 80%;
        height: auto;
        object-fit: contain;
        @include transit3;
        cursor: pointer;
      }
    }
  }
}
