.section-upcoming {
  height: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @include tabletPortrait {
    & {
      height: 170rem;
    }
  }

  @include desktop {
    & {
      height: 60rem;
    }
  }

  .new-shoes-container {
    width: 100%;
    height: calc(90% - 10rem);
    @include flex-center-col;
    justify-content: space-evenly;

    @include desktop {
      & {
        flex-direction: row;
        max-width: 200rem;
      }
    }

    .new-shoes {
      width: 90%;
      position: relative;

      &::after {
        content: "COMING SOON";
        opacity: 0;
        @include keep-it-hundo;
        @include absol-center;
        @include transit3;
        font-size: 3rem;
        font-family: $tertiary-font;
        color: red;
        z-index: -1;
      }

      &:hover::after {
        opacity: 1;
      }

      &:hover > .new-shoes-img {
        transform: scale(1.1) rotate(-25deg);
        -webkit-transform: scale(1.1) rotate(-25deg);
        -moz-transform: scale(1.1) rotate(-25deg);
        -ms-transform: scale(1.1) rotate(-25deg);
        -o-transform: scale(1.1) rotate(-25deg);
      }

      @include tabletPortrait {
        & {
          width: 70%;
        }
      }

      @include tabletLandscape {
        & {
          width: 60%;
        }
      }

      .new-shoes-img {
        width: 80%;
        height: auto;
        object-fit: contain;
        @include transit3;
        cursor: pointer;
      }
    }
  }
}
