.section-upcoming {
  height: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @include tabletPortrait {
    & {
      height: 170rem;
    }
  }

  @include desktop {
    & {
      height: 60rem;
    }
  }

  .new-shoes-container {
    width: 100%;
    height: calc(90% - 10rem);
    @include flex-center-col;
    justify-content: space-evenly;

    @include desktop {
      & {
        flex-direction: row;
        max-width: 200rem;
      }
    }

    .new-shoes {
      width: 90%;

      @include tabletPortrait {
        & {
          width: 70%;
        }
      }

      @include tabletLandscape {
        & {
          width: 60%;
        }
      }

      .new-shoes-img {
        width: 80%;
        height: auto;
        object-fit: contain;
        cursor: pointer;
      }
    }
  }
}
