@font-face {
  font-family: "BebasNeue";
  src: url(../public/fonts/BebasNeue-Regular.otf);
}

@font-face {
  font-family: "Blacksword";
  src: url(../public/fonts/Blacksword.otf);
}

@font-face {
  font-family: "VCR";
  src: url(../public/fonts/VCR_OSD_MONO_1.001.ttf);
}
